* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

.container {
    max-width: 1328px;
    margin: 0 auto;
    padding: 0 15px;
}
