:root {
    --wine: #4A2B33;
    --blush: #d27487;
    --muted-berry: #C67A88;
    --gray-olive: #6f6f64;
    --light-ivory: #e9e9e3;
    --white: #ffffff;
    --golden-olive: #aa9e54;
    --white: #ffffff;
  
    --font-family: "Inter", sans-serif;
    --second-family: "Azeret Mono", sans-serif;
}
