.banner {
    background: var(--wine);
}

.banner__container {
    display: flex;
    justify-content: space-between;
    padding: 121px 0 133px 0;
}

.banner__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 47px;
    letter-spacing: 0.02em;
    color: var(--blush);
    max-width: 413px;
}

.banner__text {
    font-size: 18px;
    line-height: 150%;
    color: var(--blush);
    max-width: 595px;
    margin-top: 18px;
}
