.footer {
    padding: 56px 0 39px 0;
}

.footer__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7px 32px;
    max-width: 650px;
}

.footer__block {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer__span {
    font-size: 13px;
    color: #696969;
}
